<main>
  <section>
    <ul class="user-list">
      <% @users.each do |user|%>
        <%= link_to user do %>
          <li class="user">
            <div class="image">
              <img src="<%= user.Photo%>" alt="user picture">
            </div>
            <div class="name-post_counter">
              <h1><%= user.Name || "anonymous" %></h1>
              <p>Number of posts: <%= user.PostCounter || 0 %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>  
  </section>
</main>
