<div>
  <h1>List of all posts</h1>
</div>

<div>
  <ul>
    <li>
      Hey i am a post 😉
    </li>
    <li>
      wow... me too 🤗
    </li>
    <li>
      we are all posts hey 😒
    </li>
  </ul>
</div>
