<main>
  <section class="card column">
    <div class="card column">
      <h2><%= @post.Title %></h2>
      <p><%= @post.Text %></p>
      <span>Likes: <%= @post.LikesCounter %> </span>
    </div>
    <div class="commets-container">
      <h4>Comments:</h4>
      <ul>
        <% @post.recent_comments.each do |comment| %>
          <p><%= comment.Text %></p>
        <% end %>
      </ul>
    </div>
  </section>
</main>
